body {
	background-image: url('../images/background.png');
	
}

div {
	text-align: center;
	color: #FF0000;
	font-size: 20;
	

}

input {
	color: #FF0000;
	font-size: 30;
	font-style: bold;
}

button {
	color: #FF0000;
	display: block;
	margin: auto;
}

h1{
	font-size: 50px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	color: #0000A0;
}

h2 {
	font-size: 30px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	color: #0000A0;


}

h3 {
	font-size: 30px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	color: #0000A0;


}



